*{
	margin: 0; padding: 0;
	box-sizing: border-box;
	transition: all .2s linear;
	text-transform: capitalize;

}
html{
	font-size: 100%;
	scroll-behavior: smooth;
}

body{
	overflow-x: none;
padding-bottom: 1.2rem;
}

.heading{
	font-size: 4rem;
	text-align: center;
	letter-spacing:1.7rem ;
	color:#444 ;
	margin: 2rem 0;
	padding-top: 6rem;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-color: #ff7a00;
	text-underline-offset:-1.4rem ;

}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    font-weight: bolder;
    background: #ff7a00;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

/*.carousel-inner .active img{
	height: 500px;
	width: 100%;
	object-fit: cover;
}*/
.carousel {
    padding-top: 33rem;
    position: revert;
}
.carousel-dark .carousel-caption {
    color: #000;
    font-size: 2rem;
    font-family: "Audiowide", sans-serif;
    background: #ffffff
    
}
.carousel-dark .carousel-caption h3{
	font-weight: bold;
	background: #ff7a00;
	font-size: 3rem;
	font-family: "Audiowide", sans-serif;
}

@media (min-width: 400px) {


	.home .counting{

		min-height: 40vh;
		padding: 2rem 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
		

	}
	.home .counting .box{
		margin: 2rem 2rem;
		text-align: center;
		background: #ffffff


	}
	.home .counting .box .count{
		font-size: 5rem;
		color: #444;
		letter-spacing: 1.7rem;
		




	}
	.home .counting .box h3{
		font-size: 2rem;
		color: #ff7a00
	}
}



.about{
	min-height: 100vh;
	padding-bottom: 2rem;
}

.about .image{
	padding: 2rem;


}
.about .image img{
	height: 45rem;
	object-fit: cover;
	box-shadow: 2.5rem 2.5rem 0 1rem #ff7a00;
}
.about .info{
	padding: 2rem;
	margin-top: 3rem;

}
.about .info h2{
	color: #ff7a00;
	font-size: 3rem;
}

.about .info p{
	font-size: 1.4rem;
	color:#444 ;
	margin: 2rem 0;
}
.about .info .icons a{
	font-size: 2rem;
	height: 4rem;
	width: 4rem;
	line-height: 4rem;
	text-align: center;
	background: #333;
	color:#fff ;
	border-radius: .5rem;
	margin-right: 1rem;
	text-decoration: none;

}
.about .info .icons a:hover{
	background: #ff7a00;

}

.service{
	min-height: 100vh;
	
}
.service .box-container{
	width: 95%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;


}
.service .box-container .box{
	height: 22rem;
	width: 18rem;
	box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 3.0);
	border-left: .5rem solid #ff7a00 ;
	border-right: .5rem solid #ff7a00 ;
	border-radius: .5rem;
	text-align:center ;
	padding-top:6rem ;
	margin: 2rem 3rem;
}
.service .box-container .box .fas{
	color: #ff7a00;
	font-size: 4rem;
}
.service .box-container .box p{
	color: #333;
	font-size: 1.1rem;
	margin: 2rem 0;


}
.project{
	min-height: 260vh;
	background: #333;
}
.project .heading{
	color: #fff;
}
.project .box-container{
	
	display: flex;
	justify-content: center;
	flex-wrap:wrap ;
	float: left;
  width: 33.33%;
  padding: 5px;

}
.project .box-container .box{
	height: 25rem;
	width: 25rem;
	margin: 1.5rem;
	border-radius: .5rem;
	box-shadow:0 .2rem .5rem #000 ;
	overflow: hidden;


}
.project .box-container .box img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.project .box-container .box img:hover{
	transform: scale(1.4);
}


.contact{
	min-height: 100vh;
}
.contact-container-box{
	width: 93%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;


}

.contact-container-box .contact-box{
	height: 15rem;
	flex: 1 0 30rem;
	margin: 2rem;
	box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .30);
	border-radius: 2.5rem;
	text-align: center;
	padding-top: 5rem;

}
.contact-container-box .contact-box i{
	color:#ff7a00 ;
	font-size: 4rem;
}
.contact-container-box .contact-box h3{
	font-size: 1.8rem;
	color:#444 ;
	margin:2rem 0 ;
}
.contact .form-container{
	width: 90%;
	box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .30);
	border-radius: 1.5rem;
	padding: 1rem 3rem;
	margin-bottom: 2rem;

}
.contact .form-container form input, textarea{
	height:4.5rem ;
	padding: 0 1rem;
	margin:2rem 0 ;
	font-size: 1.5rem;
	box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .30);
	border: none;
	outline: none;
	color: #333;

}


.contact .form-container form .inputBox{
	display: flex;
	justify-content: space-between;
}
.contact .form-container form, input[type="text"]{
	width: 49%;

}
.contact .form-container form, input[type="email"]{
	width: 100%;

}
.contact .form-container form #button{
	transition-duration: .4s;
}
.contact .form-container form #button:hover{
	background-color: #4CAF50; /* Green */
	color: white;
}

.contact .form-container form textarea{
	width: 100%;
	height: 20rem;
	padding: 1rem;
	resize: none;
	overflow-y: auto;


}
.contact .form-container form input[type ="submit"]{
	background: #ff7a00;
	width: 15rem;
	color: #fff;
	font-size: 2rem;

}
.contact .form-container form input[type ="submit"]:hover{
	opacity: 8;

}
